@page "/about";

<div class="card">
    <div class="card-header">Hello, I'm Tom.</div>
    <div class="card-body">
        <h3>I try to make websites</h3>
        <p>I am a Dutch developer who loves programming.</p>
    </div>
</div>
<p> </p>
<p><strong>You can reach me at</strong>:  https://www.linkedin.com/in/tom-peters-421774158/</p>
<p><strong>For any questions please mail me at</strong>: tompeters04@gmail.com</p>

@code { //TODO: somehow get a image here 
}

@code {

}
