@page "/about";

<p>Hello, I'm Tom.</p>
<h3>I try to make websites</h3>
<p>I am a Dutch developer who loves programming.</p>
<p></p>
<p></p>
<p><strong>You can reach me at</strong>:  https://www.linkedin.com/in/tom-peters-421774158/</p>
<p><strong>For any questions please mail me at</strong>: tompeters04@gmail.com</p>

@code { //TODO: somehow get a image here 
}

@code {

}
